* {
  /* all pages works with this CSS page */

    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  .body {
    background-image: url("https://w.wallha.com/ws/8/Lj8lXcAJ.png");
    background-size: cover;
    background-position: center;
  }


  header h1 {
      text-align: center;
      font-family: 'Roboto Slab', serif;
      color: #ffffff;

  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ffffff;
  }
  
  /* only "portfolio.html" works with ".col-md-6" property */

  .col-md-6 {
      height: 350px;
      width: 350px;
      margin-left: 38px;
      margin-top: 20px;
      position: relative;
          }
  
  /* only "contact.html" works with the properties below */
  
  /*Contact Form */

  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover{
    background-color: #45A049;
  }

  section.container {
    margin-top: 100px;
    border-radius: 5px;
    background-color:  #795e5e;
    padding: 20px;
  }

  label {
    color: white;
  }

  /* Socia Media Icons */

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
  }

  .fa:hover {
    opacity: 0.7;
  }
  
  .footer {
    position: fixed;
    background-color: #333333;
    width: 100%;
    bottom: 0px;
  }

  .footer p {
    color: #ffffff;  
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
  }
